<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Run Rabbit Run!</title>
	<!-- <link rel="stylesheet" href="site.css"> -->

</head>
<body>
	<article>
		<header>&nbsp;</header>
		<article>
			<section class="logo">
				<div><%= image_tag("rrrlogo3.png", :alt => "Run Rabbit Run logo", :class => "imageLogoStyle") %></div>
				<div class="textLeft">
					<h2>How to play</h2> 
					<h3>Movement</h3>
					<p>Move your player around the map using the arrow keys on your keyboard
					boxes give a speed boost, to use hold your arrow keys down</p>

					<h3>Aim</h3>
					<p>As a rabbit you want to keep moving around the map to avoid hunters
					as a hunter, the google street view and indicator will help you locate the rabbit and win</p>
				</div>
			</section>
			<nav class="gameOptions floatLeft">
				<div><%= render "games/new" %></div>

					<h3>Join active games:</h3>
					<div class="activeGames"><%= render "games/activegames" %></div>

			</nav>
		</article>
		<footer class="textCenter"><hr/><h3>Disclaimer</h3><i>No rabbits were harassed, mistreated, or harmed during the production of this application.. However.. *burp!*<br/>..And the rabbits were handled properly by Adam... :)</i></footer>
	</article>
</body>
</html>
