<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title>Run Rabbit Run!</title>
	<!-- <link rel="stylesheet" href="site.css"> -->
</head>
<body>
	<article>
		<header>&nbsp;</header>
		<article>
			<section class="logo"><%= image_tag("rrrlogo2.jpg", :alt => "Run Rabbit Run logo", :class => "imageLogoStyle") %></section>
			<nav class="gameOptions floatLeft">
				<div><%= render "games/new" %></div>
				
					<h3>Join active games:</h3>
					<div class="activeGames"><%= render "games/activegames" %></div>
				
			</nav>
		</article>
		<footer class="textCenter"><hr/><h3>Disclaimer</h3><i>No rabbits were harassed, mistreated, or harmed during the production of this application.. However.. *burp!*<br/>..And the rabbits were handled properly by Adam... :)</i></footer>
	</article>
</body>
</html>
<%#= render "games/activegames" %>