<div id='open-games'>
<% @games.each do |game| %>

	<article class="activeGame">
		<section class="gameID">Game #<%= game.id%>:</section>
		<section class="gameLink"><%= link_to "Join game",'games/'+game.id.to_s,  method:'get' %></section>

	</article>
<%end%>


</div>

