<div id='open-games'>
<% @games.each do |game| %>
	<p>
		Open game
	#<%= game.id%>
	<%= game.centre_lat %>:
	<%= game.centre_lng %>
	<%= link_to "join",'games/'+game.id.to_s,  method:'get' %>
	</p>
<%end%>
</div>
