<!DOCTYPE html>
<html>
<head>
  <title>RunRabbitRun</title>

  <!-- jquery lib & viewport from previous map use on insterstalk -->
  <meta name="viewport" content="initial-scale=1.0, user-scalable=no" />
  <script src="http://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
  <!-- pusher script -->
  <script src="//js.pusher.com/2.2/pusher.min.js" type="text/javascript"></script>
  <!-- google map api with my api key here: -->
  <script type="text/javascript" src="https://maps.googleapis.com/maps/api/js?key=AIzaSyBPMwfjAD5SqjAV50RXw-pLNhl_9qVZXgQ"></script>

  <%= stylesheet_link_tag    'application', media: 'all' %>
  <%= javascript_include_tag 'application' %>
  <%= csrf_meta_tags %>
</head>
<body>

<%= yield %>

</body>
</html>
